<div class="row">
    <div class="col-sm-12">
        <div class="sectionheading">
            <h2 id="video-page-heading">Loading...</h2>
          </div>
    </div>
    <div class="col-sm-12">
        <div class="row" id="video-page-body">

            
        </div>
    </div>

    <div class="col-sm-12">
        <div id="load-more-videos"></div>
    </div>
</div>