<div class="row">
    <div class="col-md-9">
    <div class="videoplayer-wrap" id="videoplayer-wrap">
        <div class="vidplayer" style="min-height:300px;background-color: #000 !important;display: flex;justify-content: center;">
            
            <!-- video player -->
            <div id="video-media-payer"></div>
            <!-- end -->
        </div>
        <div class="ti-innerdetails">
        
            <!-- video details -->
                <div id="video-details"></div>
            <!-- end -->
        </div>
    </div>
    </div>
    <div class="col-md-3">
    <div class="videosugg-thumbs">
        <div class="suggestionvid">
        <p>Up Next</p>
        </div>
        <!-- recommendation  -->
        <div id="video-recommendation"></div>
        <!-- end -->
    </div>
    </div>
</div>