
<!-- SIGNUP BODY -->

 <section id="MainWrap">
    <div class="container">

      <div class="row">
        <div class="col-md-2">&nbsp;</div>
        <div class="col-md-8">
          <div class="login_register_wrap">
            <div class="col-md-12">
              <div class="only_register">
                  
                  <div class="login_register_form">
                    <a href="/"><img class="login_register_logo" src="/static/assets/images/logo.png" alt=""></a>
                    <h3>Create your TI Video Account</h3>

                    <form id="register-from" novalidate>
                      <div class="row">

                        <div class="form-group col-md-6">
                        <label for="fname">First Name</label>
                        <input id="fname" type="text" class="form-control" name="fname">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="lname">Last Name</label>
                          <input id="lname" type="text" class="form-control" name="lname">
                        </div>
                        <div class="form-group col-md-6">
                          <label for="email">Email</label>
                          <input id="email" type="email" class="form-control" name="email">
                        </div>
                        <div class="form-group col-md-6">
                            <select class="form-control margupdown" name="gender">
                                <option value="">Select Gender</option>
                              <option value="M" >Male</option>
                              <option value="F">Female</option>
                              <option value="O">Other</option>
                            </select>
                          </div>
                        

                      </div>

                      <div class="row">
                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input id="password" type="password" class="form-control" name="password">
                          </div>

                        <div class="form-group col-md-6">
                        <label for="cpassword">Confirm Password</label>
                        <input id="cpassword" type="password" class="form-control" name="cpassword">
                      </div>

                      <div class="form-group col-md-6">
                        <label for="dob">Date Of Birth</label>
                        <input id="dob" type="text" class="form-control" name="dob">
                      </div>
                      </div>
              
                      <button type="button" class="btnSubmit" id="register-from-btn" data-label="Sign Up">Sign Up</button>
                    </form>

                  </div>

                  <div class="donthavacc">
                    <p>Already have an account? <a href="/auth/login">login</a></p>
                  </div>

              </div>
            </div>
          </div>
        </div>
        <div class="col-md-2">&nbsp;</div>
      </div>
    </div>
  </section>

  <!-- SIGNUP BODY ENDS -->


<!-- <div class="container mt-4">
    <div class="row">
        <div class="col-sm-6 mr-auto ml-auto mt-4">

                <form class="px-4 py-3 shadow" id="register-from" novalidate>
                    <p class="display-5 text-center">Sign Up</p>
                    <p class="text-muted text-center mb-4">to continue</p>
                    
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="fname">First Name</label>
                                <input type="text" class="form-control" id="fname" name="fname" placeholder="First Name" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="lname">Last Name</label>
                                <input type="text" class="form-control" id="lname" name="lname" placeholder="Last Name" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleDropdownFormEmail1">Gender</label>
                                <div class="gender-options">
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="male" value="M" name="gender" />
                                        <label for="male">Male</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="female" value="F" name="gender" />
                                        <label for="female">Female</label>
                                    </div>
                                    <div class="form-check form-check-inline">
                                        <input class="form-check-input" type="radio" id="other" value="O" name="other" />
                                        <label for="other">Other</label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="dob">Date Of Birth</label>
                                <input type="text" class="form-control" id="dob" placeholder="Date Of Birth" name="dob" />
                            </div>
                        </div>
                    </div>
                    
                    <div class="form-group">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" id="email" placeholder="Email" name="email" />
                    </div>
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="password">Password</label>
                                <input type="password" class="form-control" id="password" placeholder="Password" name="password">
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="cpassword">Confirm Password</label>
                                <input type="password" class="form-control" id="cpassword"
                                    placeholder="Confirm Password" name="cpassword" />
                            </div>
                        </div>
                    </div>
                    <button type="button" class="btn btn-outline-primary btn-block" id="register-from-btn" data-label="REGISTER">Register</button>
                </form>
                <p class="mt-4 text-center">User exist? <a href="/auth/login">Login</a></p>
                <p class="mt-4 text-center" >Go to <a href="/">Home</a></p>
            
        </div>
    </div>
</div> -->

<script>

    
</script>