<!-- RESET PASSWORD BODY -->
<section id="MainWrap">
    <div class="container">

      <div class="row">
        <div class="col-md-3">&nbsp;</div>
        <div class="col-md-6">

          <div class="login_register_wrap">
            
            <div class="col-md-12">
              <div class="login_register">
                  

                  <div class="login_register_form pass_rest_form">
                    <img class="login_register_logo" src="assets/images/logo.png" alt="">
                    <h1>Reset your Password</h1>
                    <h3>The password reset link will be sent to the email address.</h3>

                    <form id="reset-password-email-form" novalidate>
                    <div class="form-group margdown">
                      <label for="email">Email</label>
                      <input id="email" type="email" class="form-control" name="email">
                    </div>
                      <button type="button" class="btnSubmit" id="reset-password-email-form-btn" data-label="Send Email">Send Email</button>
                    </form>

                  </div>

                  <div class="backtologin">
                      <a href="/auth/login"> Back to Login</a>
                  </div>

              </div>
            </div>

          </div>
        </div>
        <div class="col-md-3">&nbsp;</div>
      </div>
    </div>
  </section>

  <!-- LOGIN BODY ENDS -->


    
    
    <!-- <div class="container mt-4">
        <div class="row">
            <div class="col-sm-6 mr-auto ml-auto mt-4">
                    
                    <form id="reset-password-email-form" class="px-4 py-3 shadow">
                        <p class="text-center display-5">Password Reset</p>
                    <p class="text-muted">Enter your username, or the email address that you used to register. We'll send you an email with your username and a link to reset your password.</p>
                    
                        <div class="row">
                            <div class="col-sm-12">
                               
                                <div class="form-group">
                                    <input type="text" name="email" id="email" class="form-control" placeholder="Enter your registered email"/>
                                </div>
                                <p class="text-center"><button type="button" class="btn btn-block btn-outline-primary" id="reset-password-email-form-btn" data-label="SEND RESET EMAIL">Send</button></p>
                            
                            </div>
                        </div>
                    </form>
                    <p class="mt-4 text-center" >New user? <a href="/auth/login">Sign up</a></p>
                    <p class="mt-4 text-center" >Go to <a href="/">Home</a></p>
            </div>
        </div>
    </div> -->
