<%-include('navbar.ejs')%>
<div id="overlay" style="display: none;">
  <span><i class="fas fa-close"></i></span>
</div>
<section id="mainwrap">
  <div id="stream-app"></div>
</section>
<%-include('footer.ejs')%>
