<ul class="nav flex-column nav-pills">
    <li>
        <a class="nav-link <%=locals.myChannels%>" href="/user/view/channels"><i class="fa fa-edit"></i> My Channels</a>
    </li>
    <li>
        <a class="nav-link <%=locals.newChannel%>" href="/user/view/channel/create"><i class="fa fa-edit"></i> New Channel</a>
    </li>
    <li>
        <a class="nav-link <%=locals.uploadVideo%>" href="/user/view/video/upload"><i class="fa fa-edit"></i> Upload Video</a>
     </li>
  </ul>
  