<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="sectionheading">
                <h2 id="channelName">Channel Videos</h2>
                <a href="/user/view/channels" class="btn btn-sm btn-outline-danger"> <i class="fas fa-arrow-circle-left"></i> My Channels</a>
              </div>
        </div>
    </div>
    <div class="row" id="channel-video-section">
     
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div id="load-more-channel-videos"></div>
        </div>
    </div>
</div>