<div class="container-fluid mt-3">
    <div class="row">
        <div class="col-sm-12">
            <div class="sectionheading">
                <h2>New Channel</h2>
                <a href="/user/view/channels" class="btn btn-sm btn-outline-danger"> <i class="fas fa-arrow-circle-left"></i> My Channels</a>
              </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card">
                <div class="card-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <form novalidate id="create-channel">
                                <div class="form-group">
                                    <label for="name">Channel Name</label>
                                    <input type="text" class="form-control" name="name" id="name" />
                                </div>
                                <div class="form-group">
                                    <label for="description"> Channel Description </label>
                                    <textarea class="form-control" rows="5" name="description" id="description"></textarea>
                                </div>
                                <div class="input-group mb-3">
                                    <select class="custom-select" id="visibility" name="visibility">
                                        <option selected>Choose...</option>
                                        <option value="1" selected>Public</option>
                                        <option value="0">Private</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <input type="file" class="form-group" id="channelArt" name="channelArt">
                                </div>
                                <button type="button" class="btn btn-danger btn-sm" id="create-channel-btn" data-label='CREATE'>CREATE
                                </button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>