<div class="container-fluid mt-3">
  <div class="row">
    <div class="col-sm-12">
        <div class="sectionheading">
            <h2>My Channels</h2>
            <a href="/user/view/channel/create" class="btn btn-sm btn-outline-danger"> <i class="fas fa-arrow-circle-left"></i> New </a>
          </div>
    </div>
</div>
    <div class="row" id="channels-data">
        
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div id="load-more-channel-data">

        </div>
      </div>
    </div>
</div>