<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            <div id="update-password">
                <div class="sectionheading">
                    <h2>Update Profile Password</h2>
                </div>
                <div class="card">
                    <div class="card-body">
                        <div class="row">
                            <div class="col-sm-6">
                                <form novalidate id="update-profile-password-form">
                                    <div class="form-group">
                                        <label for="opasswor">Current Password</label>
                                        <input type="password" name="opassword" id="opassword" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="password">New Password</label>
                                        <input type="password" name="npassword" id="npassword" class="form-control" />
                                    </div>
                                    <div class="form-group">
                                        <label for="cpassword">Confirm Password</label>
                                        <input type="password" name="cpassword" id="cpassword" class="form-control" />
                                    </div>
                                    <hr>
                                    <button type="button" class="btn-block btn btn-sm btn-outline-danger" id="send-otp-btn" data-label='send otp'>Submit</button>
        
        
                                    <!-- otp modal -->
        
                                    <!-- Modal -->
                                    <div class="modal fade" id="reset-password-otp-modal" tabindex="-1"
                                        aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog modal-dialog-centered">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h5 class="modal-title" id="exampleModalLabel">Validate OTP</h5>
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span>
                                                    </button>
                                                </div>
                                                <div class="modal-body">
                                                    <p>We sent a OTP to your registered email id. Please enter that OTP here...</p>
                                                    <div class="form-group">
                                                        <label for="otp">OTP</label>
                                                        <input type="text" name="otp" id="otp" class="form-control" />
                                                    </div>
                                                    <small class="pull-right btn-sm btn btn-secondary" id="resend-otp-btn"> Resend OTP</small>
                                                    <button type="button" class="btn btn-danger btn-sm btn-block"
                                                        id="update-profile-password-form-btn"
                                                        data-label='Update'>Update</button>
                                                </div>
                                                
                                            </div>
                                        </div>
                                    </div>
        
                                    <!-- modal end  -->
        
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>