


<div class="main d-flex w-100 justify-content-center">
    <div class="d-flex flex-column container">
        <div class="h-100 row">
            <div class="mx-auto d-table h-100 col-sm-10 col-md-8 col-lg-6">
                <div class="d-table-cell align-middle">
                    <div class="text-center">
                        <h1 class="display-1 font-weight-bold">404</h1>
                        <p class="h1">Page not found.</p>
                        <p class="h2 font-weight-normal mt-3 mb-4">The page you are looking for might have been removed.
                        </p><a href="/">Go to Home</button></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
