

    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="sectionheading">
            <h2>Trending Videos</h2>
            <a href="">Explore More <i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>

        <div class="row">
          <div id="trending_lists" class="owl-carousel owl-theme">
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642532454-e138e28a63f4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1611095971113-9f7542655338?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642533144-3d62aa4783ec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642634402-b0eb5e2eebc9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642531955-b62e17bdaa9c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642702909-dec73df255d7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <!-- trending ends -->

    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="sectionheading">
            <h2>Latest Videos</h2>
            <a href="">Explore More <i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>

        <div class="row">
          <div id="latest_lists" class="owl-carousel owl-theme">
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642532454-e138e28a63f4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1611095971113-9f7542655338?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642533144-3d62aa4783ec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642634402-b0eb5e2eebc9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642531955-b62e17bdaa9c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642702909-dec73df255d7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <!-- trending ends -->

    <div class="row">
      <div class="col-md-12">

        <div class="row">
          <div class="sectionheading">
            <h2>Top Videos</h2>
            <a href="">Explore More <i class="fas fa-angle-double-right"></i></a>
          </div>
        </div>

        <div class="row">
          <div id="topvideos_lists" class="owl-carousel owl-theme">
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642532454-e138e28a63f4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1350&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1611095971113-9f7542655338?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1051&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642634315-48f5414c3ad9?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642533144-3d62aa4783ec?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642634402-b0eb5e2eebc9?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642531955-b62e17bdaa9c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
            <div class="item">
              <div class="videothumbs">
                <div class="thmbsimg">
                  <img src="https://images.unsplash.com/photo-1593642702909-dec73df255d7?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=1050&q=80" alt="video-thumbnail">
                </div>
                <div class="sortdetails">
                  <div class="channeldp"><img src="https://i.pinimg.com/236x/db/ea/af/dbeaaf2ad67ffc92cc2fbaa501527220.jpg" alt=""></div>
                  <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit, lorem ipsum dolor sit...</h4>
                  <p> <span class="creatorname">Dr Vernon Coleman</span>
                    <span class="totalviews">169667 Views</span>  <span class="seprater"><i class="fas fa-circle"></i></span>  <span class="uploaddate">3 months ago</span>
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>


      </div>
    </div>
    <!-- trending ends -->


